In [1]:
import pandas as pd
import numpy as np

In [5]:
train_data = pd.read_csv('train.csv')
test_data = pd.read_csv('test.csv')

In [6]:
train_data.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2,breed_category,pet_category
0,ANSL_69903,2016-07-10 00:00:00,2016-09-21 16:25:00,2.0,Brown Tabby,0.80,7.78,13,9,0.0,1
1,ANSL_66892,2013-11-21 00:00:00,2018-12-27 17:47:00,1.0,White,0.72,14.19,13,9,0.0,2
2,ANSL_69750,2014-09-28 00:00:00,2016-10-19 08:24:00,NaN,Brown,0.15,40.90,15,4,2.0,4
3,ANSL_71623,2016-12-31 00:00:00,2019-01-25 18:30:00,1.0,White,0.62,17.82,0,1,0.0,2
4,ANSL_57969,2017-09-28 00:00:00,2017-11-19 09:38:00,2.0,Black,0.50,11.06,18,4,0.0,1

In [7]:
test_data.head()

,pet_id,issue_date,listing_date,condition,color_type,length(m),height(cm),X1,X2
0,ANSL_75005,2005-08-17 00:00:00,2017-09-07 15:35:00,0.0,Black,0.87,42.73,0,7
1,ANSL_76663,2018-11-15 00:00:00,2019-05-08 17:24:00,1.0,Orange Tabby,0.06,6.71,0,1
2,ANSL_58259,2012-10-11 00:00:00,2018-04-02 16:51:00,1.0,Black,0.24,41.21,0,7
3,ANSL_67171,2015-02-13 00:00:00,2018-04-06 07:25:00,1.0,Black,0.29,8.46,7,1
4,ANSL_72871,2017-01-18 00:00:00,2018-04-26 13:42:00,1.0,Brown,0.71,30.92,0,7

In [8]:
train_data.listing_date = pd.to_datetime(train_data.listing_date)
train_data.issue_date = pd.to_datetime(train_data.issue_date)

In [9]:
test_data.listing_date = pd.to_datetime(test_data.listing_date)
test_data.issue_date = pd.to_datetime(test_data.issue_date)

In [10]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 18834 entries, 0 to 18833
Data columns (total 11 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   pet_id          18834 non-null  object
 1   issue_date      18834 non-null  datetime64[ns]
 2   listing_date    18834 non-null  datetime64[ns]
 3   condition       17357 non-null  float64
 4   color_type      18834 non-null  object
 5   length(m)       18834 non-null  float64
 6   height(cm)      18834 non-null  float64
 7   X1              18834 non-null  int64
 8   X2              18834 non-null  int64
 9   breed_category  18834 non-null  float64
 10  pet_category    18834 non-null  int64
dtypes: datetime64[ns](2), float64(4), int64(3), object(2)
memory usage: 1.6+ MB

In [11]:
test_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 8072 entries, 0 to 8071
Data columns (total 9 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   pet_id        8072 non-null   object
 1   issue_date    8072 non-null   datetime64[ns]
 2   listing_date  8072 non-null   datetime64[ns]
 3   condition     7453 non-null   float64
 4   color_type    8072 non-null   object
 5   length(m)     8072 non-null   float64
 6   height(cm)    8072 non-null   float64
 7   X1            8072 non-null   int64
 8   X2            8072 non-null   int64
dtypes: datetime64[ns](2), float64(3), int64(2), object(2)
memory usage: 567.7+ KB

In [12]:
train_data['days'] = train_data[['listing_date','issue_date']].apply(lambda x:(x[0].date()-x[1].date()).days,axis=1)

In [13]:
train_data.days

0          73
1        1862
2         752
3         755
4          52
         ...
18829     407
18830     386
18831    2954
18832     272
18833    2509
Name: days, Length: 18834, dtype: int64

In [14]:
test_data['days'] = test_data[['listing_date','issue_date']].apply(lambda x:(x[0].date()-x[1].date()).days,axis=1)

In [15]:
test_data.days

0       4404
1        174
2       1999
3       1148
4        463
        ...
8067     394
8068     798
8069     393
8070     387
8071     392
Name: days, Length: 8072, dtype: int64

In [16]:
train_data.color_type.unique()

array(['Brown Tabby', 'White', 'Brown', 'Black', 'Red', 'Tricolor',
       'Calico', 'Brown Brindle', 'Blue', 'Tortie', 'Gray', 'Fawn',
       'Buff', 'Torbie', 'Orange Tabby', 'Sable', 'Tan', 'Blue Tick',
       'Orange', 'Blue Tabby', 'Chocolate', 'Black Tabby',
       'Black Brindle', 'Cream Tabby', 'Gold', 'Calico Point',
       'Blue Merle', 'Red Merle', 'Yellow', 'Lynx Point', 'Blue Cream',
       'Flame Point', 'Cream', 'Yellow Brindle', 'Blue Tiger',
       'Seal Point', 'Red Tick', 'Brown Merle', 'Black Smoke',
       'Gray Tabby', 'Green', 'Tortie Point', 'Blue Smoke', 'Apricot',
       'Blue Point', 'Silver Tabby', 'Lilac Point', 'Silver',
       'Brown Tiger', 'Liver', 'Agouti', 'Chocolate Point', 'Liver Tick',
       'Pink', 'Black Tiger', 'Silver Lynx Point'], dtype=object)

In [17]:
test_data.color_type.unique()

array(['Black', 'Orange Tabby', 'Brown', 'Brown Tabby', 'White', 'Fawn',
       'Red', 'Blue Tabby', 'Tan', 'Apricot', 'Tricolor', 'Brown Brindle',
       'Gray', 'Chocolate', 'Blue', 'Yellow', 'Gray Tabby', 'Blue Merle',
       'Lynx Point', 'Black Brindle', 'Calico', 'Tortie', 'Buff',
       'Lilac Point', 'Cream', 'Sable', 'Silver', 'Cream Tabby',
       'Calico Point', 'Red Merle', 'Blue Tick', 'Flame Point', 'Torbie',
       'Brown Merle', 'Silver Tabby', 'Black Tabby', 'Tortie Point',
       'Blue Smoke', 'Seal Point', 'Blue Cream', 'Yellow Brindle',
       'Chocolate Point', 'Orange', 'Black Smoke', 'Red Tick',
       'Silver Lynx Point', 'Blue Point', 'Agouti', 'Gold', 'Green',
       'Blue Tiger', 'Pink', 'Liver', 'Liver Tick'], dtype=object)

In [18]:
train_data.color_type.nunique()

56

In [19]:
test_data.color_type.nunique()

54

In [20]:
set(train_data.color_type.unique()) - set(test_data.color_type.unique())

{'Black Tiger', 'Brown Tiger'}

In [21]:
def tigerChange(x):
    if x == 'Black Tiger':
        return 'Black'
    elif x=='Brown Tiger':
        return 'Brown'
    else:
        return x

In [22]:
train_data.color_type = train_data.color_type.apply(tigerChange)

In [23]:
train_data.color_type.nunique()

54

In [24]:
test_data.color_type.nunique()

54

In [25]:
train_data = pd.get_dummies(train_data,columns=['condition','color_type'])

In [26]:
test_data = pd.get_dummies(test_data,columns=['condition','color_type'])

In [27]:
test_data.shape

(8072, 65)

In [28]:
train_data.shape

(18834, 67)

In [29]:
train_data.to_csv('Feature_train.csv',index=False)
test_data.to_csv('Feature_test.csv',index=False)